[project]
	description = This repo maintains the source code for the end-to-end testing and validation for the oran ric project.
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/oran-gerrit-it-test-committers
	read = group GitHub Replication

[submit-requirement "Verified"]
submittableIf = is:true
applicableIf = is:true
